$green: #34C759;
$orange: #E6B127;
$red: #F06A4D;
$firm: #9873FF;
$firm_light: #B89EFF;
$firm_dark: #8052FF;
$grey: #C8C5D1;
$txt_grey: #B0B0B0;
$black: #333333;
$bg_grey: #F5F5F5;
$white: #FFFFFF;
$dark_grey: #E7E5EB;
$light_grey: #F4F3F6;
